---
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="相册">
  <Content>
    <h2 class="my-12 text-center">这个页面还在开发中...</h2>
  </Content>
</Layout>