---
import { getCollection } from 'astro:content'
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import Section from "../components/Section.astro";
import SectionList from '../components/SectionList.astro';

const releases = await getCollection("releases")
const stores = await getCollection("stores")
const shows = await getCollection("shows")
---

<Layout mustHeader>
  <Content>
    <Section title="音乐">
      <SectionList type="RELEASE" resources={releases} />
    </Section>
    <Section title="周边">
      <SectionList type="STORE" resources={stores} />
    </Section>
    <Section title="演出">
      <SectionList type="SHOW" resources={shows} />
    </Section>
  </Content>
</Layout>
