---
import MediaIcon from "./MediaIcon.astro";
import { SITE_TITLE } from "../config";
---

<footer class="py-5 border-t flex flex-col gap-4 justify-center items-center bg-white">
  <h2 class="text-base">&copy; {SITE_TITLE}</h2>
  <ol class="flex gap-6">
    <MediaIcon icon="wyy" link="https://music.163.com/#/artist?id=55015012&userid=559942376" />
    <MediaIcon icon="qqyy" link="https://y.qq.com/n/ryqq/singer/000CnITT3mynZ2" />
    <MediaIcon icon="spotify" link="https://open.spotify.com/artist/7hd466nvT1jgHBjQrsihMW" />
    <MediaIcon icon="twitter" link="" />
    <MediaIcon icon="instagram" link="" />
  </ol>
</footer>