---
import { Image } from 'astro:assets';
import headBigImg from '../assets/images/cover.jpg';
---

<section class="md:max-w-[640px] md:mx-auto">
  <Image class="my-10 w-full h-full" src={headBigImg} loading="lazy" decoding="async" alt="" />
</section>
